#imagem-inicial {
    max-width: 100%;
    
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-left:  5px;
    
  }
  @media (min-width: 768px) {
    #imagem-inicial img {
      max-width: 90%; /* Porcentagem do tamanho original */
    }
  }
  
  @media (min-width: 992px) {
    #imagem-inicial img {
      max-width: 100%; /* Porcentagem do tamanho original */
    }
  }
  :root {
    --laranja: #fff4c4;
    --vermelho: #ff8fa8;
}
body {
    background-color: var(--laranja);
}
.navbar-dark {
    background-color: var(--vermelho);
}
.navbar-dark .navbar-toggler-icon {
    background-color: var(--laranja);
}
.navbar-dark .navbar-nav .nav-link {
    color: var(--laranja);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--vermelho);
}
.navbar-dark .navbar-nav .active > .nav-link {
    color: var(--vermelho);
}
.form-inline .form-control {
    background-color: var(--laranja);
    border-color: var(--vermelho);
    color: var(--vermelho);
}
.form-inline .btn-outline-success {
    border-color: var(--vermelho);
    color: var(--vermelho);
}
.form-inline .btn-outline-success:hover {
    background-color: var(--vermelho);
    color: var(--laranja);
}
.container-fluid#imagem-inicial {
    background: linear-gradient(to right, #fff4c4, #ff8fa8)
}
.btn-secondary {
    background-color: var(--vermelho);
    border-color: var(--vermelho);
    color: var(--laranja);
}
.btn-secondary:hover {
    background-color: var(--laranja);
    border-color: var(--laranja);
    color: var(--vermelho);
}
.featurette-divider {
    border-color: var(--vermelho);
}
.featurette-heading {
    color: var(--vermelho);
}
.navbar {
    background: linear-gradient(to right, #ff9249, #ff8fa8);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 30px;
}

